
.info-card{
    padding: 0 5px;
}
.info-primary{
    background-color: #B2BEB5;
}
.info-dark{
    background-color: #3A4256;
    
}
.info-icon{
    font-size: 3em;
}
.info-container{
    height:100px;
    padding:30px;
}